{% extends "layout.html" %}
{% block header %}
{{super()}}
<script>
        var fruits = {{fruits|tojson}} 
</script>
<script type="text/javascript" src="{{ url_for('static',filename='search.js') }}"></script>
<style>
    * {
        box-sizing: border-box;
    }

    /* Style the search field */
    form.search_bar input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid rgb(249, 213, 83);
        float: left;
        width: 80%;
        background: rgb(249, 242, 214);
    }

    /* Style the submit button */
    form.search_bar button {
        float: left;
        width: 10%;
        padding: 10px;
        background: rgb(249, 213, 83);
        color: white;
        font-size: 17px;
        border: 1px solid rgb(249, 213, 83);
        border-left: none; /* Prevent double borders */
        cursor: pointer;
    }

    form.search_bar button:hover {
        background: rgb(240, 180, 55);
    }

    /* Clear floats */
    form.search_bar::after {
        content: "";
        clear: both;
        display: table;
    }
    #search{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .row{
        width: 80%;
        border: 1px solid rgb(249, 213, 83);
        border-radius: 5px;
        background-color: rgb(249, 242, 214);
    }
    .col-md-12{
        padding-bottom: 10px;
    }
    .container{
        padding-bottom: 10px;
    }
    #know_more{
        color: rgb(240, 180, 55);
    }
    #know_more a:hover{
        color: rgb(240, 140, 40);
    }
    .name{
        font-weight: bold;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div id="search_bar_btn">
    <form class="search_bar" id="search">
        <input type="text" placeholder="Search Fruit" name="search" id="search_str">
        <button type="button" id="search_btn"><i class="fa fa-search"></i></button>
        
    </form>
</div>

{% endblock %}